.flexCenter {
  justify-content: center;
}
.h1 {
  font-size: 40px;
  font-weight: 500;
}
.margin48 {
  margin-bottom: 3rem;
}
.features {
  width: 100%;
  margin-bottom: 84px;
}

.featureSvg {
  width: 64px;
  height: 64px;
}
.badge {
  display: inline-block;
  padding: 4px 8px;
  background: #F8F9FA;
  border-radius: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #212529;
}

ul {
  margin-bottom:  0;
}
.linkWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.li::marker {
  color: #0033FF;
}

.screenContent {
  padding: 44px 0 96px !important;
}

@media screen and (max-width: 768px) {
  .h1 {
    font-size: 2rem;
  }
  .screenContent {
    padding: 22px 0 48px !important;
  }
}
