.block {
  display: block;
}
.black, .black:hover {
  color: var(--ifm-heading-color);
  text-decoration: none;
}
.tagWrap {
  display: flex;
  align-items: center;
}
.h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

.authorWrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
