.nav {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}

.info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.title, .title:hover {
  color: black;
  text-decoration: none;
}
