.flex {
  display: flex;
  align-items: center;
  width: 100%;
}
.recommendWrap {
  padding: 3rem 0;
}

.block {
  display: block;
}

.black, .black:hover {
  color: var(--ifm-heading-color);
  text-decoration: none;
}
.h2 {
  font-size: 2rem;
  font-weight: 500;
}
.h5 {
  font-size: 1.25rem;
  font-weight: 500;
}
.imgWrap {
  display: block;
  width: 30.58%;
  max-width: 192px;
  flex: none;
}

.rounded {
  border-radius: 6px;
}
