.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.link {
  box-sizing: border-box;
  padding: 5px 13px;
  border: 1px solid #DEE2E6;
  color: var(--ifm-color-secondary);
}

.link:hover {
  text-decoration: none;
}

.active {
  color: var(--ifm-color-primary);
}

.disabled {
  cursor: not-allowed;
}
.disabled:hover {
  color: var(--ifm-color-secondary);
}

.linkLeft {
  border-radius: 6px 0px 0px 6px;
  border-right: 0;
}

.linkRight {
  border-radius: 0px 6px 6px 0px;
}
