.right {
  font-size: 14px;
  text-align: right;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}


@media screen and (max-width: 768px) {
  .right {
    margin-top: 1rem;
  }
}
